@media (max-width:750px) {
    .footer-content{
        display: flex !important;
        flex-direction: column;
        gap: 35px;
    }
    .footer-copyright{
        text-align: center;
    }
    
}